.conteiner {
    color: rgb(235, 231, 231);
}

.general {
    display: flex;
}

.button {
    width: 100px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 18px;
    margin-top: 20px;
    border-radius: 4px;
}

.button:hover {
    box-shadow: rgba(122, 121, 121, 0.5) 0 0 2px 2px;
    cursor: pointer;
  }

.image {
    min-width: 240px;
    margin: 16px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: rgba(122, 121, 121, 0.5) 0 0 6px 4px;
}

.box_info {
    margin-left: 40px;
}

.title {
    margin-top: 0;
    font-size: 36px;
    line-height: 1.21;
    font-weight: 700;
    margin-bottom: 5px;
}

.title_info {
    margin-top: 30px;
    margin-bottom: 20px;
}

.text {
    width: 800px;
    margin-bottom: 20px;
}

.additionalInformation {
margin-left: 20px;
}