.conteiner {
  color: rgb(235, 231, 231);
}
.additionalInformation {
  margin-left: 40px;
}

.informationList {
  display: flex;
  margin-left: 0;
  padding-left: 0;
}
.informationItem {
  font-size: 20px;
  margin-right: 60px;
}

.informationLink {
  color: #fff;
}

.informationLink:hover {
  color: rgb(131, 124, 124);
}

.activeLink {
  color: rgb(131, 124, 124);
}
