.nav {
  background-color: rgb(119, 115, 115);
  height: 80px;
}
.link {
  display: inline-block;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-weight: 500;
  color: rgb(235, 225, 225);
  font-size: 22px;
}

.link:hover {
  color: rgb(12, 12, 12);
}

.activeLink {
  color: rgb(12, 12, 12);
  border-bottom: 2px solid black;
  cursor: auto;
}

.text {
  text-transform: uppercase;
}
