.nav {
  background-color: rgb(119, 115, 115);
  height: 100px;
}
.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    margin-left: 20px;
    font-weight: 500;
    color: black;
    font-size: 18px;
  }
  
  .activeLink {
    composes: link;
    color: rgb(235, 225, 225);
    font-size: 22px;
    ;
  }

  .text {
    text-transform: uppercase;
  }

