.container {
  display: flex;
  justify-content: center;
  min-height: 1000px;
}

.list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-gap: 40px;
}

.image {
  width: 280px;
  height: 420px;
  border-radius: 5px;
  box-shadow: rgba(122, 121, 121, 0.5) 0 0 10px 7px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    margin-bottom: 6px;
    margin-top: 10px;
    color: rgb(235, 225, 225);
}
